# Binaries
/string
/out/

# Test artifacts
*.test
coverage.out
coverage.html

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace

# ignore dotdirs
.*/
